.changeStyleHeader{
    background-color: blue;
    text-align: center;
}

.changeStyleMain{
    background-color: blueviolet;
}

.changeStyleFooter{
    background-color: chocolate;
}

.photoDog{
    width: 30%;
}

.boxImageDog{ 
    text-align: center;
}